section {
  border: 1px solid black;
}
div {
  display: inline-block;
  padding: 20px 40px;
  text-align: center;
}
* {
  font-family: 'Darker Grotesque', sans-serif;
  letter-spacing: 1px;
}
/* Colors */
.pastelpink {
  background-color: #FFE5EF;
}
.pinkmauve {
  background-color: #DDA5BB;
}
.lightyellow {
  background-color: #FFF8A0;
}
.red {
  background-color: #FF3B3B;
}
.dustyblue {
  background-color: #CBE2FD;
}
.warmpink {
  background-color: #FFAABB;
}

/* Fonts */
.darkerg {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 400;
  text-decoration: underline;
}
.dgnormal {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 400;
}
.dglight {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 300;
}
.reenie {
  font-family: 'Reenie Beanie', cursive;
  text-decoration: underline;
}
.reenieb {
  font-family: 'Reenie Beanie', cursive;
}

/* Text Styles */

